<!doctype html>
<html lang="en">

<head>
    <title>Student Details</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/vendor/linearicons/style.css">
    <link rel="stylesheet" href="assets/vendor/chartist/css/chartist-custom.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="assets/css/demo.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<!--    <link href='stylesheetsmsg/jquery.growl.css' rel='stylesheet' type='text/css'>-->
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <p style="color:#2F4F4F;font-family:Brush Script MT, Brush Script Std, cursive;font-size:large"><b><i>Lab Monitoring System</i></b></p>
        </div>
        <div class="container-fluid">
            <!--            <div class="navbar-btn">-->
            <!--                <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>-->
            <!--            </div>-->
            <!--            <form class="navbar-form navbar-left">-->
            <!--                <div class="input-group">-->
            <!--                    <input type="text" value="" class="form-control" placeholder="Search dashboard...">-->
            <!--                    <span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>-->
            <!--                </div>-->
            <!--            </form>-->

            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
<!--                    <li class="dropdown">-->
<!--                        <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">-->
<!--                            <i class="lnr lnr-alarm"></i>-->
<!--                            <span class="badge bg-danger" id="num">5</span>-->
<!--                        </a>-->
<!--                        <ul class="dropdown-menu notifications">-->
<!--                            <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>-->
<!--                            <li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>-->
<!--                            <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>-->
<!--                            <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>-->
<!--                            <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>-->
<!--                            <li><a href="#" class="more">See all notifications</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png" class="img-circle" alt="Avatar"> <span id="teacher_name"></span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li id="adminLogout"><a href="login"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                        </ul>
                    </li>
                    <!-- <li>
                        <a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    <li><a href="home" class=""><i class="lnr lnr-home"></i> <span>Home</span></a></li>
                    <li><a href="attendance" class=""><i class="lnr lnr-chart-bars"></i> <span>Attendance</span></a></li>
                    <li><a href="monitor" class=""><i class="lnr lnr-screen"></i> <span>Student Monitoring</span></a></li>
                    <li><a href="#" class=""><i class="lnr lnr-inbox"></i> <span>Task Evaluation</span></a></li>
                    <li>
                        <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-database"></i> <span>Add Details</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages" class="active ">
                            <ul class="nav">

                                <li><a href="teachers"><i class="lnr lnr-users"></i><span>Teacher</span></a></li>
                                <li><a href="subjects" ><i class="lnr lnr-book"></i><span>Subject</span></a></li>
                                <li><a href="students" class="active"><i class="lnr lnr-users"></i><span>Student</span></a></li>
                                <li><a href="semesters" ><i class="lnr lnr-layers"></i><span>Semester</span></a></li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="col-md-6">
                <!-- PANEL NO CONTROLS -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Student</h3>
                    </div>
                    <div class="panel-body">
                        <div id="error_stud_id" class="error"></div>
                        <input type="text" class="form-control" id="txtStudId" placeholder="Enter Student ID">
                        <br>
                        <div id="error_stud_name" class="error"></div>
                        <input type="text" class="form-control" id="txtStudName" placeholder="Enter Student Name">
                        <br>
                        <div id="error_stud_sem" class="error"></div>
                        <select class="form-control" id="sem">
                            <option value="select" id="selectSem">Select Semester</option>
                        </select>
                        <br>
                        <p class="demo-button">
                            <button type="button" class="btn btn-success" id="btnInsertStudent"><i class="fa fa-check-circle"></i> Insert</button>
                            <button type="button" class="btn btn-warning"id="btnUpdateStudent"><i class="ln lnr-pencil"></i> Update</button>
                            <button type="button" class="btn btn-danger" id="btnDeleteStudent"><i class="fa fa-trash-o"></i> Delete</button>
                        </p>
                    </div>
                </div>
                <!-- END PANEL NO CONTROLS -->
            </div>
            <div class="col-md-6">
                <!-- PANEL NO CONTROLS -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">All Students</h3>
                    </div>
                    <div class="panel-body">
                        <input type="text" placeholder="Search..." id="search_field">
                        <input type="button" id="btnSem" class="btn btn-primary btn-sm" value="Upgrade Semester">
                        <div class="alert alert-danger alert-dismissible" role="alert" id="finals">
                            <i class="fa fa-times-circle"></i> Please delete the final semester students <input type="button" id="btnFinal" class="btn btn-danger btn-sm" value="Delete">
                        </div>
                        <table class="table table-hover">
                            <thead>
                            <tr class="myHead">
                                <th>Sl.No.</th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Semester</th>
                            </tr>
                            </thead>
                            <tbody id="listStudent">

                            </tbody>
                        </table>
                    </div><!-- panel body-->
                </div><!-- Panel -->
                <!-- END PANEL NO CONTROLS -->
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->
<div class="clearfix"></div>
<!--<footer>-->
<!--    <div class="container-fluid">-->
<!--        <p class="copyright">&copy; 2017 <a href="https://www.themeineed.com" target="_blank">Theme I Need</a>. All Rights Reserved.</p>-->
<!--    </div>-->
<!--</footer>-->
</div>
<!-- END WRAPPER -->
<!-- Javascript -->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="assets/vendor/chartist/js/chartist.min.js"></script>
<script src="assets/scripts/klorofil-common.js"></script>
<script type = "text/javascript" src = "http://cdn.jsdelivr.net/jquery.cookie/1.3.1/jquery.cookie.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<!--<script src='javascriptsmsg/jquery.growl.js' type='text/javascript'></script>-->
<script src="assets/js/insert_student.js"></script>
</body>

</html>