<div class="sidebar-scroll">
    <nav>
        <ul class="nav">
            <li><a href="teacher_dashboard.html" class="active"><i class="lnr lnr-home"></i> <span>Home</span></a></li>
            <li><a href="#" class=""><i class="lnr lnr-chart-bars"></i> <span>Attendance</span></a></li>
            <li><a href="#" class=""><i class="lnr inr-screen"></i> <span>Student Monitoring</span></a></li>
            <li><a href="#" class=""><i class="lnr lnr-inbox"></i> <span>Task Evaluation</span></a></li>
        </ul>
    </nav>
</div>