<div class="sidebar-scroll">
    <nav>
        <ul class="nav">
            <li><a href="teacher_dashboard.html" class="active"><i class="lnr lnr-home"></i> <span>Home</span></a></li>
            <li><a href="#" class=""><i class="lnr lnr-chart-bars"></i> <span>Attendance</span></a></li>
            <li><a href="#" class=""><i class="lnr inr-screen"></i> <span>Student Monitoring</span></a></li>
            <li><a href="#" class=""><i class="lnr lnr-inbox"></i> <span>Task Evaluation</span></a></li>
            <li>
                <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-database"></i> <span>Add Details</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                <div id="subPages" class="collapse ">
                    <ul class="nav">
                        <li><a href="page-profile.html" class="inr inr-users">Teacher</a></li>
                        <li><a href="page-login.html" class="inr inr-book">Subject</a></li>
                        <li><a href="page-lockscreen.html" class="inr inr-users">Student</a></li>
                        <li><a href="page-lockscreen.html" class="inr inr-layers">Semester</a></li>
                    </ul>
                </div>
            </li>

        </ul>
    </nav>
</div>